$col-black: #000000;
$col-white: #fefefe;
$col-orange: #cb450c;
$col-boulder: #c4c4c4;
$col-gray: #06a4b0;

$font-bebas: "Bebas Neue", sans-serif;
$font-sauce: "Open Sauce", arial;

$gradient: linear-gradient(
  90deg,
  rgba(240, 237, 220, 0.3) 0%,
  rgba(235, 220, 230, 0.3) 100%
);